<!DOCTYPE html>
<html>
<link rel="stylesheet" href="styles/style.css">
<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <title>Bataille navale</title>
</head>
<body>

<ul class="menu">
        <li>
            <a href="home.html">Accueil</a>
        </li>
        <li>
            <a href="join_game.html">Rejoindre une partie</a>
        </li>
        <li>
            <a href="manage_fleet.html">Créer une flotte</a>
        </li>
        <li>
            <a href="create_game.html">Créer une partie</a>
        </li>
        <li>
            <a href="play_game.html">Jouer</a>
        </li>
</ul>

<div class="centered-element">
    <h1>Bataille Navale</h1>
    <img src="images/logo.jpg">
</div>
</body>
</html>

